
*{
    box-sizing: border-box;
}
.header{
    background-color: #F26822;
    height: 65px;
}

.items{
    overflow-y: auto;
    height: 700px;
}
.toast{
    position: fixed;
    top: 75px;
    right: 25px;
    z-index: 999;
}

* {
  scrollbar-width: thin;
  scrollbar-color: grey;
}
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: #c1c1c1;
}
*::-webkit-scrollbar-thumb {
  background-color: #F26822;
}

